<footer>
			
	<div class="self_footer" style="background-color: #999;width: 100%;padding-top: 10px;padding-bottom: 10px">
			<p>张端建的个人博客、WEB前端、全栈、python爬虫</p>
			<a href="#" target="_blank" rel="nofollow" style="text-decoration: none;color: #333;text-align: center;display: inline;"><p>鲁ICP备18038875号-1</p></a>
			<p>QQ:3219377082  <img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=3219377082&o=blog.zdjng.com&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:3219377082:7 alt="交流号：3219377082"></p>
			<p>Copyright &#169; 2019-2050  all rights reserved 版权所有</p>
	</div>
</footer>